bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
Debug/
Release/
*.db
appsettings.Development.json
*.log
*.pid
thumbs.db
node_modules/
wwwroot/lib/
deploy/publish/
deploy/publish.zip
deploy/publish-live/
deploy/publish-live.zip
publish/
publish.zip
publish-functions/
deploy/webapplogs/
deploy/webapplogs-latest/
deploy/webapplogs-latest2/
deploy/deploy-azure.settings.json
deploy/*.zip
_deploy_out/
_deploy_out.zip
build_errors.csv
webapp_logs.zip
creds.json
live-logs/
live-logs.zip
live-logs-latest/
live-logs-latest.zip
publish-linux/
publish-linux.zip