@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="/2025-TIN-Report.jpg" alt="2025 TIN Report" class="img-fluid mt-4" style="max-width: 100%; height: auto;" />
</div>
